@media (max-width: 1200px) {
    .teaser__inner {
        justify-content: center;
    }

    .teaser__text .text {
        bottom: auto;
        top: calc(50% + 2em);
        right: 50%;
        transform: translateX(50%);
    }
}

@media (max-width: 780px) {

    .teaser__text .title,
    .final-text__inner h2 {
        font-size: 90px;
    }

    .teaser__text .text {
        font-size: 24px;
    }

    .final-text__inner p {
        font-size: 40px;
    }

    .teaser__text {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 600px) {

    .teaser__text .title,
    .final-text__inner h2 {
        font-size: 78px;
    }

    .teaser__text .text {
        font-size: 20px;
    }

    .final-text__inner p {
        font-size: 40px;
    }
}

@media (max-width: 520px) {

    .teaser__text .title,
    .final-text__inner h2 {
        font-size: 60px;
    }

    .teaser__text .text {
        font-size: 16px;
    }

    .final-text__inner p {
        font-size: 40px;
    }
}

@media (max-width: 420px) {

    .teaser__text .title,
    .final-text__inner h2 {
        font-size: 46px;
    }

    .teaser__text .text {
        font-size: 16px;
    }

    .final-text__inner p {
        font-size: 40px;
    }

    .reels {
        background: var(--black-color);
    }

    .reels .container,
    .reels__phone {
        padding: 0;
    }

    .reels__phone .perview-slide {
        background: var(--black-color);
    }

    .reels__phone {
        max-width: none;
        height: 100%;
        max-height: 100vh;
    }

    .reels__phone::before {
        content: none;
    }

    .reels-swiper {
        clip-path: none;
    }

    .reels__bottom-line {
        display: none;
    }

    .reels-swiper-slide__bottom-menu,
    .reels-swiper-slide__right-menu {
        bottom: 72px;
    }
}